<!-- carritos.handlebars -->
<h2>Lista de Productos</h1>
<hr>
{{#each asd2}}
  <div>
    <p>ID del Producto: {{_id}}</p>
    <p>Nombre: {{title}}</p>
    <p>Precio: {{price}}</p>
  </div>
  <hr>
{{/each}}