<!-- carritos.handlebars -->
<h1>Lista de Carritos de Compras2</h1>
{{#each carritos}}
  <div class="carrito">
    <p>ID del Carrito: {{_id}}</p>
    <ul>
      {{#each products}}
        <li>Producto ID: {{product}}, Cantidad: {{quantity}}</li>
      {{/each}}
    </ul>
  </div>
{{/each}}